.main {
	position: relative;
	width: 1080px;
	height: 1920px;
	background-image: url(../../img/body-bg.png);
	background-repeat: no-repeat;
}

.main-index {
	width: 80%;
	margin: 0 auto;
	padding-top: 477px;
}

.main-in ul li {
	float: left;
	width: 33.33%;
	height: 288px;
	margin: 20px 0;
}

.top {
	border-bottom: 1px solid #d5b085;
	margin: 0 auto;
	padding: 10px 0;
	overflow: hidden;
}

.top-l {
	background: url(../../img/realtimeInfo.png);
	display: inline-block;
	width: 249px;
	height: 50px;
	color: #FFFFFF;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
}

.top-r {
	background: url(../../img/return.png) 20px center no-repeat #f4f1ea;
	padding-left: 50px;
	border: 1px solid #d5b085;
	width: 60px;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	border-radius: 6px;
	float: right;
}

.head {
	overflow: hidden;
}

.head ul {
	width: 90%;
	margin: 20px 0 0 12px;
}

.head ul li {
	float: left;
	background: #FFFFFF;
	//border-radius: 4px;
	width: 120px;
	height: 40px;
	border-radius: 5px;
	margin-right: 20px;
	text-align: center;
	line-height: 40px;
	border: 1px solid #d5b085;
	color: #654d3b;
}

.head .active{
	float: left;
	background: #c69869;
	border-radius: 4px;
	width: 120px;
	height: 40px;
	border-radius: 5px;
	margin-right: 20px;
	text-align: center;
	line-height: 40px;
	border: 1px solid #c69869;
	color: #ffffff;
}

.area {
	margin: 10px 12px;
	box-shadow: 0 4px 10px 0 rgba(85, 85, 85, .4), inset 0 2px 0 0 rgba(255, 255, 255, .2);
	border-radius: 10px;
	height: 290px;
	background: #FFFFFF;
}

.area-top {
	height: 190px;
}

.area-top img {
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
}

.title {
	font-size: 20px;
	text-align: center;
	line-height: 36px;
}

.area-bottom {
	font-size: 16px;
	line-height: 26px;
	margin: 10px 0;
	padding: 0 15px;
}

.area-bottom .details{
	text-indent: 2em;
	-webkit-line-clamp: 2;
	text-overflow: -o-ellipsis-lastline;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
/* .page {
	margin: 0 auto;
	text-align: center;
} */

.page span {
	display: inline-block;
	margin: 50px 30px;
}

/* .erweima {
	position: relative;
	right: 0;
	bottom: 50px;
	height: 162px;
}

.erweima img {
	float: right;
} */

/*弹窗 */
.dt_main {
	width: 85%;
	margin: 80px auto 50px;
	border-radius: 10px;
	height: 1000px;
	background: #f6f5f2;
	padding-top: 74px;
	position: relative;
}

.dt_main-in {
	font-size: 20px;
	line-height: 40px;
	width: 90%;
	margin: 0 auto;

}

.dt_main-in em {
	font-style: normal;
	font-size: 24px;
}

.dt_main-in p {
	text-indent: 2rem;
}

.logo {
	background: #ffffff;
	border-radius: 50%;
	border: 1px solid #ccc;
	width: 160px;
	height: 160px;
	text-align: center;
	margin: 0 auto;
	position: absolute;
	top: -76px;
	left: 50%;
	margin-left: -80px;

}

.logo span {
	display: block;
}

.logo span img {
	display: block;
	text-align: center;
	margin: 40px auto 0;
}

.logo-bg {
	background: url(../../img/title.png) no-repeat;
	width: 814px;
	height: 54px;
	margin: 0 auto;
}

.dt_main-top {
	overflow: hidden;
	padding-bottom: 40px;
}

.dt_main-img {
	width: 429px;
	height: 530px;
	background: url(../../img/box.png) no-repeat;
	padding: 4px;
	margin: 0 auto;
}

.dt_main-right {
	float: left;
	margin-left: 40px;
}

.close {
	position: absolute;
	bottom: 80px;
	left: 50%;
	margin-left: -35px;
	width: 120px;
	height: 40px;
	line-height: 40px;
	background: #d2954d;
	color: #ffffff;
	text-align: center;
	border-radius: 6px;
}
