.module{
	position: relative;
	width: 1080px;
	height: 1920px;
	background-image: url(../../img/body-bg.png);
	background-repeat: no-repeat;
}
.module-in{
	width: 85%;
	margin:0 auto;
	padding-top: 430px;
}
.enter{
	position: fixed;
	bottom: 12%;
	background: url(../../img/enter.png) no-repeat;
	width: 271px;
	height: 271px;
	left: 50%;
	margin-left: -135px;
}

.module ul li{
	width: 33.33%;
	float: left;
	text-align: center;
	margin-top: 50px;
}
.module ul li img{
	text-align: center;
	margin:0 auto;
	display: block;
}
.module ul li span{
	display: inline-block;
	margin-top: 20px;
}
.erweima{
	width: 129px;
	height: 170px;
	position: absolute;
	bottom: 100px;
	right: 100px;
}