.module {
	position: relative;
	width: 720px;
	height: 1280px;
	background-image: url(../../img/body-bg.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.module-in {
	//border: 1px solid red;
	width: 88%;
	margin: 0 6%;
	padding-top: 250px;
}

.module ul li {
	//border: 1px solid red;
	width: 33.33%;
	float: left;
	text-align: center;
	margin-top: 30px;
}

.module ul li img {
	text-align: center;
	margin: 0 auto;
	width: 80%;
	display: inline-block;
}

.module ul li span {
	display: inline-block;
	margin-top: 20px;
}

/* .erweima {
	width: 129px;
	height: 170px;
	position: absolute;
	bottom: 100px;
	right: 100px;
} */

/* .enter {
	position: fixed;
	bottom: 12%;
	background: url(../../img/enter.png) no-repeat;
	width: 271px;
	height: 271px;
	left: 50%;
	margin-left: -135px;
} */
