main {
	position: relative;
	width: 720px;
	height: 1280px;
	overflow: hidden;
	background-image: url(../../img/init.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.enter {
	//border: 1px solid red;
	position: absolute;
	width: 180px;
	height: 180px;
	left: 50%;
	margin-left: -90px;
	bottom: 100px;
}

.enter img {
	width: 180px;
	height: 180px;
}
