.section {
	position: relative;
	width: 720px;
	height: 1280px;
	background-image: url(../../img/body-bg.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.section-index {
	width: 88%;
	margin: 0 6%;
	padding-top: 250px;
}

/* 
.top {
	//border: 1px solid red;
	margin: 0 auto;
	padding: 5px 0;
	overflow: hidden;
	border-bottom: 1px solid #d5b085;
}

.top-l {
	//border: 1px solid red;
	background: url(../../img/realtimeInfo.png);
	background-size: 100% 100%;
	display: inline-block;
	width: 200px;
	height: 40px;
	color: #FFFFFF;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
}

.top-r {
	//border: 1px solid red;
	background: url(../../img/return.png) 12px center no-repeat #f0f5f8;
	background-size: 10px;
	color: #a2b2cb;
	margin: 5px 5px 0 0;
	padding-left: 35px;
	//background: #f0f5f8;
	width: 40px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	display: inline-block;
	border-radius: 4px;
	float: right;
} */

.title {
	overflow: hidden;
}

.title ul {
	margin: 14px 0 0 0px;
}

.title ul li {
	float: left;
	/* background: #f0f5f8; */
	background: #FFFFFF;
	/* border: 1px solid #a9b7cc; */
	width: 98px;
	height: 30px;
	border-radius: 3px;
	margin-right: 5px;
	text-align: center;
	line-height: 34px;
	border: 1px solid #d5b085;
	color: #654d3b;
}

.title .active {
	float: left;
	/* background: #a2b2cb; */
	background: #c69869;
	/* border: 1px solid #a9b7cc; */
	width: 98px;
	height: 30px;
	border-radius: 3px;
	margin-right: 5px;
	text-align: center;
	line-height: 34px;
	border: 1px solid #c69869;
	color: #ffffff;
	font-weight: bold;
}


.box {
	margin-top: 14px;
	overflow-y: auto;
	max-height: 680px;
}

.box ul {
	margin: 0 auto;
}

.box ul li {
	//border: 1px solid red;
	background: #FFFFFF;
	height: 108px;
	margin-bottom: 16px;
}

.box-l-img {
	float: left;
	width: 120px;
	height: 108px;
}

.box-l-img img {
	display: block;
	width: 120px;
	height: 108px;
}

.box ul li p {
	line-height: 25px;
	margin-top: 15px;
}

.box-l {
	//border: 1px solid red;
	float: left;
	width: 120px;
	height: 108px;
}

.box-c {
	//border: 1px solid red;
	float: left;
	width: 360px;
	float: left;
	height: 108px;
	overflow: hidden;

}

.box-l-article {
	padding-top: 12px;
	padding-left: 12px;
}

.box-c h4 {
	color: #563921;
	-webkit-line-clamp: 1;
	text-overflow: -o-ellipsis-lastline;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.box-c p {
	-webkit-line-clamp: 2;
	text-overflow: -o-ellipsis-lastline;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.box-l span {
	display: inline-block;
	height: 160px;
}

.box-r {
	//border: 1px solid red;
	width: 120px;
	float: right;
}

.box-r-in {
	display: block;
	text-align: right;
	line-height: 108px;
	color: #333;
	opacity: 0.7;
	padding-right: 14px;
	font-size: 14px;
	background: url(../../img/more.png) no-repeat right center;
	background-size: 6px;
	margin-right: 14px;
	color: #666666;
}

.more {
	//padding-left: 12px;
}

.more span {
	display: block;
	background: #FFFFFF;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin-top: 14px;
}

/* 弹窗*/
.main {
	width: 85%;
	margin: 80px auto 50px;
	border-radius: 5px;
	height: 680px;
	background: #f6f5f2;
	padding-top: 50px;
	position: relative;
}

.main-in {
	font-size: 14px;
	line-height: 40px;
	width: 90%;
	margin: 0 auto;
}

.main-in p {
	text-indent: 2rem;
}

.logo {
	background: #ffffff;
	border-radius: 50%;
	border: 1px solid #cccccc;
	width: 108px;
	height: 108px;
	text-align: center;
	margin: 0 auto;
	position: absolute;
	top: -54px;
	left: 50%;
	margin-left: -54px;
}

.logo span {
	//border: 1px solid #cccccc;
	display: block;
	text-align: center;
}

.logo span img {
	display: inline-block;
	width: 40px;
	margin: 25px 0 0 0;
}

.logo-bg {
	background: url(../../img/title.png) no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 30px;
	margin: 0 auto;
}

.dt_title {
	text-align: center;
	border-bottom: 1px solid #ccc;
	margin: 14px 40px;
}

.dt_title span {
	line-height: 20px;
	font-size: 14px;
	display: block;
}

.dt_title .time {
	line-height: 30px;
	font-size: 12px;
	color: #666666;
}

.contents {
	max-height: 680px;
	padding: 0 20px;
	overflow-y: auto;
}

.main-in .contents span {
	margin: 0 auto;
	font-size: 12px !important;
	z-index: 9999;
}

.close {
	position: absolute;
	bottom: 50px;
	left: 50%;
	margin-left: -25px;
	width: 100px;
	height: 28px;
	line-height: 28px;
	background: #c69869;
	color: #ffffff;
	text-align: center;
	border-radius: 5px;
}


/* .erweima {
	width: 129px;
	height: 170px;
	position: absolute;
	bottom: 100px;
	right: 100px;
} */

/* .erweima {
	position: absolute;
	right: 100px;
	bottom: 100px;
	width: 129px;
	height: 162px;
} */
